<h1 class="mt-5">Agregar producto</h1>
<hr>
{{ texto1 }}
<form [formGroup]="miFormulario">
    <div class="row g-3 alin-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control" 
                formControlName="nombre"
                >
        </div>

        <div class="col-auto">
            <span 
              error-msg 
             [valido]="!tieneError('nombre')" 
              
             [color]="color"
             [mensaje]="texto1"
             >
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button (click)="cambiarNombre()" class="btn btn-primary">Guardar</button>
            <button (click)="cambiarColor()" class="btn btn-primary">Cambiar Color</button>
        </div>
    </div>
</form>

<h3 class="mt-5" error-msg color="green">Formulario</h3>

<pre>Valid: {{ miFormulario.valid }}</pre>
<pre>Value: {{ miFormulario.value | json }}</pre>
<pre>Touched: {{ miFormulario.touched }}</pre>

<!-- Con el *(asterisco) hago referencia al elemento -->
<div class="row" 
    *customIf="miFormulario.valid"
>
    <div class="col">
        <div class="alert alert-primary">
            Todo OK!
        </div>
    </div>  
</div>